/*
========== General Stuff ==========
*/

html { width: 100%; height: 100%;}
body {
	background: #eee;
	margin: 0px;	
}

#header {
	background: rgb(224, 224, 224);
	background: rgba(224, 224, 224, 0.4);
	/* #ddd
	#ECEFF1
	#E0E0E0 THE ONE*/
	vertical-align: center;
	text-align: center;
	padding: 3% 3%;
	margin-left: 25%;
	margin-right: 25%;
	/*margin-top:  0%;
	margin-bottom: 5%;*/
	border: 1px solid black;
}
#container {
	background: url('VilmaAndTheCows.jpg');
	/*FINFLOFOREVER.jpg*/
	background-size: cover;
	padding: 4% 4%;
}

/*
========== Project Details ==========
*/

#page-container {
	background: #37474F;
	/* #006064 dark green*/
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 15px 15px;
	padding: 1px 1px;
	background: #37474F;

}
#content-container {

}

#project-image {
	background: url('FINFLOFOREVER.jpg');
	opacity: 0.5;
	height: 300px;
	width: 50%;
	float: left;
}

#project-image:hover {
	opacity: 1.0;
	
}


#project-name {
	padding: 125px 0px;
	text-align: center;
}


h1 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-family: lora;
}

h2 {
	font-weight: normal;
	color: #FAFAFA;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: lora;
}

h3 {
	font-weight: normal;
	color: black;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: lora;
	text-align: center;
	font-size: 20px;
}